AWS_DEFAULT_REGION=us-east-1
ghactivity_lambda_zipfile = '/your/file/path/'
emr_lambda_zipfile = '/your/file/path/'
spark_app_zipfile = '/your/file/path/'
spark_app_file = '/your/file/path/'
bootstrap_file = '/your/file/path/'
ghactivity_lambda_zipfile = '/your/file/path/'
emr_lambda_zipfile = '/your/file/path/'
ALERT_EMAIL = 'yourname@gmail.com'
BASELINE_FILE = '2026-01-27-0.json.gz'  # update it